@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Space+Mono|Comfortaa|Montez');

:root {
    --dark: #343a40;
    --light: #e9ecef;
    --lightblend: #ffffff80;
    --primary: #007bff;    
    --brand: #421014;
}

html,
body {
    font-family: 'Comfortaa', monospace;
    font-size: 16pt;
}

.active:hover {
    color: #343a40!important;
}

.border-brand {
    box-shadow: 0px 10px 15px -15px black;
}

.border-nav {
    box-shadow: 0px 10px 30px -30px black;
}

.dropdown-menu-dark .dropdown-item {
    padding: 4px 10px;
}

.dropdown-menu-dark {
    background-color: #000000;
}

.dropdown-menu-dark .dropdown-item {
    color: #ffffff88;
}

.dropdown-menu-dark .dropdown-item:hover {
    background-color: #421014;
    color: #ffffff;
}

.navbar-brand > img {
    height: 80px;
    border-radius: 100%;
    border: 6px solid #cccccc;       
}

.mi-size {
    font-size: 34px;
    vertical-align: bottom;
}

.image-youtube {
    background-image: url('/bin/media/image-youtube.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100%;
    box-shadow: 0px 10px 30px -30px black;
}

.image-github {
    background-image: url('/bin/media//image-github.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100%;
    box-shadow: 0px 10px 30px -30px black;
}