@import url('https://fonts.googleapis.com/css?family=Comfortaa');

html, 
body {
  background-color: #fff;
  font-family: 'Comfortaa', cursive;
  color: #000;
}

.collapsible {
  font-family: 'Comfortaa', cursive;
  background-color: #777;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 10px 18px;
  overflow-y: auto;
  display: none;
  background-color: #f1f1f1;
}